* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('https://cdn.discordapp.com/attachments/905104421321592852/985129548565872690/unknown.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.banner {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('https://cdn.discordapp.com/attachments/905104421321592852/984824068169662464/bg.jpg');
  background-size: cover;
  background-position: center; */
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar ul h1 {
  text-decoration: none;
  color: #fff;  
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.mini-profile {
  display: flex;
  align-items: center;
}
.mini-profile h1 {
  font-size: 30px;
}
.profile-img {
  width: 50px;
  border-radius: 50%;
  border: 18px solid transparent;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills h2 {
  margin-top: 50px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;

}

.progress-bar {
  /* background: #959595; */
  width: 600px;
  height: 10px;
  border-radius: 5px;
}
.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
}
.progress-bar div span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #222;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members {
  background: #96b0e0;
  animation: members 1s linear forwards;
}
.members span{
  border: 1px solid #96b0e0;
}
.containeradmin {
  display: flex;
  align-items: center;
  padding: 30px;
  grid-gap: 30px;
  justify-content: center;
}
.containeradmins {
  display: grid;
  align-items: center;
  padding: 30px;
  grid-gap: 30px;
  justify-content: center;
}

.card {
  width: 350px;
  height: 400px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;

}
.card h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.card h3 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.card p {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.link {
  border: 1px solid black;
}
.card img {
  display: block;
  width: 50px;
  height: 50px;
}
.input-box {
  width: 90%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align:center;
  color: #fff;
}
::placeholder {
  font-size: 12px;
}
button {
  width: 50%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.submit-btn {
  position: relative;
}
.submit-btn::after {
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}
.mini-profile-card {
  display: flex;
  align-items: center;
}
.card-front h1 {
  color: #fff;
}
.mini-profile-card div {
  margin: auto;
}
form {
  display: grid;
  place-items: center;
}

@keyframes members {
  100% {
    width: 60%;
  }
}
.character-list {
  display: inline-block;
  align-items: center;
  padding: 5px;
  grid-gap: 18px;
  justify-content: center;
}

.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.c-card p {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
}
.c-card img {
  border-style: none;
}
.c-card .character-portrait {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.50);
}
.character-weapon {
  position: absolute;
  top: 1px;
  width: 26px;
  left: 5px;
  height: 26px;
  border-radius: 100px;
}
.character-type {
  position: absolute;
  top: 4px;
  width: 22px;
  left: 68px;
  height: 22px;
  border-radius: 100px;
}
.character-page {
  padding: 30px;
  text-align: center;
}

.character-header {
  height: 150px;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.50);
}

.character-header .character-portrait {
  position: relative;
  display: flex;
  padding: 12px;
  width: 100px;
  right: 24px;
  top: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.50);
}
.character-header .character-info {
  position: relative;
  display: flex;
  padding: 12px;
  width: 79%;
  height: 95px;
  right: 180px;
  top: -110px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.50);
}
.character-info h1 {
  font-weight: normal;
  /* font-size: 15px; */

  color: #fff;
  margin-top: 5px;
}
.character-info p {
  font-weight: normal;
  /* font-size: 15px; */
  
  color: #fff;
  margin-top: 3px;
}
.character-info .chara-description {
  position: absolute;
  display: flex;
  padding: 5px;
  width: 75px;
  height: 20px;
  margin-top: 24px;
  white-space: nowrap;
  top: 40px;
}
.chara-name {
  width: 130px;
  height: 60px;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}
.character-icon {
  width: 100%;
  border-radius: 100px;
}

.character-header .character-weapon {
  position: absolute;
  top: 1px;
  width: 35px;
  left: 5px;
  height: 35px;
  border-radius: 100px;
}
.character-header .character-type {
  position: absolute;
  top: 4px;
  width: 35px;
  left: 85px;
  height: 35px;
  border-radius: 100px;
}
.character-build img {
  width: 100%;
  height: 340px;
  object-fit: contain;
  object-position: center;
  padding: 12px;
  border-radius: 0.5rem;
}
.character-build {
  position: relative;
  padding: 10px;
  display: block;
  justify-self: center;
  height: 350px;
  width: 100%;
  border-radius: 0.5rem;
  margin: auto;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.50);
}
.buildimg {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
} 
.buildimg h2 {
  font-weight: 500;
  color: #fff;
}
.img-icon {
  font-size: 22px;
  cursor: pointer;
  display: block;
  column-gap: 0.8rem;
  margin: 10px;
}
.img-icon .bx{
  color: rgb(141, 141, 247);
}
.img-icon .bx:hover{
  color: white;
}
@media (max-width: 1058px){

  .navbar {
    width: 35%;
  }
  .character-header .character-info {
    width: 71%;
    right: 169px;
    top: -109px;
  }

}

@media (max-width: 911px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 20px;
  }
  .character-header .character-info {
    width: 48%;
    height: 110px;
    right: 150px;
    top: -88px;


  }
  .character-header .character-portrait {
    padding: 12px;
    width: 110px;
    right: 18px;
    top: 22px;

  }
  .chara-name {
    width: 130px;
    height: 60px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
  }
  .character-info .chara-description {
    padding: 0px;
    position: absolute;
    width: 80px;
    height: 20px;
    white-space: nowrap;
    font-size: 25px;
  }
  .banner {
    width: 50%;
  }
  .character-header .character-weapon {
    position: absolute;
    top: 4px;
    width: 35px;
    left: 1px;
    height: 35px;
    border-radius: 100px;
  }
  .character-header .character-type {
    left: 74px;
    height: 35px;
    border-radius: 100px;
  }
}
