<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <title>{{ name }}</title>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="https://24wallpapers.com/app-gateway/wallpaper-uploads/wallpapers/28_12_2021/1640677143879_6.png" class="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>