<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link rel="icon" type="image/x-icon" href="../favicon.ico" />
        <meta name="description" content="موقع عربي يخص لعبة قينشن امباكت ويوفر جميع ما يحتاجه اللاعبين"/>
        <meta id="meta-keywords" name="keywords" content="genshin, genshin impact, GenshinArabs, genshin builds, قنشن, قنشن إيمباكت, قينشن, قينشن إمباكت, بيلدات قنشن , قنشن بالعربي ">
        <meta property="og:image" content="/static/images/Visions/Pyro.png">
		<meta property="og:image:width" content="1082">
		<meta property="og:image:height" content="1082">
        <title>Genshin 4 Arabs</title>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="/library">مكتبة الشخصيات</a></li>
                </ul>
                {% if not authorized %}
                <img src="/static/logo.webp" class="logo">
                <ul>
                    <li><a href="/oauth">Login with discord</a></li>
                </ul>
                {% else %}
                <ul>
                    <div class="mini-profile">
                        <img src="{{ current_user.avatar_url }}" class="profile-img">
                        <h1>{{ current_user.name }}</h1>
                    </div>
                </ul>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
                {% if current_user.id in admins %}
                <ul>
                    <li><a href="/admin">Admin</a></li>
                </ul>
                {% endif %}
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                {% endif %}
            </div>
            <div class="discord-widget">
                <iframe src="https://discord.com/widget?id=794289565350756393&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>







            <!-- {% if authorized %}
            <div class="containeradmin">
                <div class="card">
                    <div class="inner-box">
                        <div class="card-front">
                            <div class="mini-profile-card">
                                <div>
                                    <h2>Your Genshin impact id</h2>
                                    <p>{{ userid }}</p>
                                    <form action="#" method="post">
                                        <br>
                                        <input id="genshinedit" type="text" name="newgid" class="input-box" placeholder="IDK" required disabled>
                                        <button type="submit" id="editgid" >Edit ID</button>
                                    </form>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} -->
        </div>
    </body>
</html>