<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <title>Library</title>
    </head>
    <body>
        <div class="banner-short">
            <div class="navbar">
                <img src="/static/logo.webp" class="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="character-page">
            {% for char in data %}
            <div class="character-list">
                <a href="/library{{ char['route'] }}" class="c-card">
                    <img src="{{ char['type'] }}" class="character-type">
                    <img src="{{ char['weaponimg'] }}" class="character-weapon">
                    <img src="{{ char['portrait'] }}" class="character-portrait">
                    <p>{{ char['name'] }}</p>
                </a>
            </div>
            {% endfor %}
        </div>



        <!-- <section class="character-list">
            <h1>
                Characters
            </h1>
            <div class="c-card">
                <div class="c-title">Amber</div>
                <div class="c-image"></div>
            </div>
        </section> -->
    </body>
</html>